h1{
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    color: #fff;
}
hr{
    border: 5px solid rgb(223, 201, 6);
    border-radius: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
h3{
   
    font-size: 24px;
    
    color: #fff;
}
label{
    font-size: 20px;
    color: #fff;
   
}
.form-control{
 
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#file{
    margin-left: 60px;
    font-size: 20px;
    color: #fff
}
.btn{
   
    margin-top:100px;
    color: #fff;
    font-size: 18px;
    background-color:transparent;
    border:2px solid #fff;
   
    
}
.btn:hover{
    background-color: rgb(223, 201, 6);
}