/* *{
    color:bisque;
} */
.form-box{
    height: 400px;
    width:400px;
    padding:25px;
    position:absolute;
    background-color:rgb(223, 201, 6);
   left: 30%;
    top: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    border-radius: 20px;
   /* display: flex;
   justify-content: space-between; */

}
input{
    background-color:transparent;
}
::placeholder{
    color: inherit;
}

