<h1>Update Your Profile</h1>
<hr>
<div class="row profile">
    <div class="col-lg-6">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="header"> Profile Completeness </mat-card-title>
              
            </mat-card-header>
            
            <mat-card-content>
              <p>
               Yor profile is updated successfully
              </p>
              <p>100%</p>
              <mat-progress-bar mode="determinate" value="100"> 100% complete </mat-progress-bar>
            </mat-card-content>
           
          </mat-card>
    </div>
    <div class="col-lg-6">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title class="header">Employee's Details </mat-card-title>
              
            </mat-card-header>
            
            <mat-card-content>
              <p>
               Name:
              </p>
              <p></p>
              <mat-progress-bar mode="determinate" value="100"> 100% complete </mat-progress-bar>
            </mat-card-content>
           
          </mat-card>
    </div>
</div>