<h1>Dashboard</h1>
<hr>

<div class="row type">
    <div class="col-md-2">
        <mat-card class="example-card">
            <mat-card-title>{{type1}}</mat-card-title>
            
            <mat-card-content>
              
              <p >{{text1}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>See More</button>
              <button mat-button>Apply</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-md-2">
        <mat-card class="example-card">
            <mat-card-title>{{type2}}</mat-card-title>
            
            <mat-card-content>
              
              <p>{{text2}}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>See More</button>
              <button mat-button>Apply</button>
            </mat-card-actions>
          </mat-card>
    </div>
    <div class="col-md-2"><mat-card class="example-card">
        <mat-card-title>{{type3}}</mat-card-title>
        
        <mat-card-content>
          
          <p>{{text3}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>See More</button>
          <button mat-button>Apply </button>
        </mat-card-actions>
      </mat-card></div>
      <div class="col-md-2"><mat-card class="example-card">
        <mat-card-title>{{type4}}</mat-card-title>
        
        <mat-card-content>
          
          <p>{{text4}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>See More </button>
          <button mat-button>Apply </button>
        </mat-card-actions>
      </mat-card></div>
      <div class="col-md-4 leave">
        <div class="col-md-3">
            <p>Applied Leave</p>
        </div>
        <div class="col-md-3">
            <p>Type</p>
        </div>
        <div class="col-md-3">
            <p>Status</p>
        </div>

      </div>
</div>
<div clas="people">
    <h3>Employees on leave</h3>
    <div class="row coleques">
        <div class="col-md-6">
            
                    <i></i>
                    <p>James Kimani</p>
               
            
                    <i></i>
                    <p>James Kimani</p>
                
        </div>
        <div class="col-md-6">
            
                
                    <i></i>
                    <p>James Kimani</p>
                
            
            
                    <i></i>
                    <p>James Kimani</p>
              
        </div>
    </div>

</div>