<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''" >
    <div class="logo-container">
      <img class="logo" (click)="toggleCollapse()" src="../../assets/logo.png" height="50px" width="">
      <div class="logo-text" *ngIf="collapsed"><span style="color: rgb(6, 124, 160);">AUA</span></div>
      <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
          <i class="fas fa-times"></i>
      </button>
    </div>
    
      <ul class="sidenav-nav">
         <li class="sidenav-nav-item" *ngFor="let data of navData">
          <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">
            <i class="sidenav-link-icon" [class]="data.icon"></i>
            <span class="sidenav-nav-text" *ngIf="collapsed">{{data.label}}</span>
          </a>
         </li>
          
      </ul>
    
  </div>